.description_for_game {
  font-size: 15pt;
  text-align: center;
}

.batton-blue {
  background-image: url(../image/transparency-blue.png);
}

.btn-check-clear {
  max-width: 400px;
}
@media screen and (max-width: 450px) { .discription_for_game { font-size: 10pt;}}
@media screen and (max-width: 433px) { .btn-check-clear { width: 300px; }}
