@font-face {
  font-family: BrockScript;
  src: url(BrockScript.TTF);
}
@font-face {
  font-family: DaysSansBlack;
  src: url(DaysSansBlack.otf);
}
@font-face {
  font-family: FuturisExtraBold;
  src: url(FuturisExtraBold.otf);
}
@font-face {
  font-family: AnjaEliane;
  src: url(AnjaEliane.TTF);
}